@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    background-color: #fbfbfb;
    background-image: linear-gradient(135deg, #131414 0%, #000 100%);
}

.clock {
    position: absolute;
    width: 750px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clock div {
    position: relative;
    width: 150px;
    height: 100%;
    background-color: #fff;
    box-sizing: 1px 20px 1px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 7px;
    font-size: 60px;
    border-radius: 5px;
    color: #ef4141;
}

.clock span {
    font-size: 60px;
    font-weight: bold;
    color: #ef4141;
}

.shape1 {
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(45deg, #eb9461, #ff5b84);
    border-radius: 50%;
    top: 15%;
    right: 15%;
}

.shape2 {
    position: absolute;
    width: 150px;
    height: 150px;
    background: linear-gradient(45deg, #1e90ff, #fff);
    border-radius: 50%;
    top: 45%;
    left: 15%;
}